{% extends "base.html" %}

{% block content %}
  <p><h4>Kontaktai:</h4></p>
<p><strong> Mūsų el.paštas:</strong>   kiesa.autoservice@inbox.lt</p>
<p><strong> Telefono numeris:</strong>   86000001</p>
<h5>Mūsų adresas:</h5>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2296.0482764328744!2d23.889223599999998!3d54.866963399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e7231f86cacbc7%3A0xe2a0b2717fb4bad6!2zVE9Exb3EliBrZWJhYmluxJc!5e0!3m2!1slt!2slt!4v1733320432913!5m2!1slt!2slt" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}