{% extends "base.html" %}
{% block content %}
    {% if akcijos %}
        {% for akcija in akcijos %}
            <div class="akcija container">
                <p class="data"><strong>Data:</strong> {{ akcija.data }}</p>
                <div class="aprasymas">
                    <div>
                        {{ akcija.aprasymas|safe }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Nėra akcijų.</p>
    {% endif %}
{% endblock %}