{% extends "base.html" %}

{% block content %}
<h1>Užsakymų sąrašas</h1>
{% if uzsakymas_list %}
<ul>
    {% for uzsakymas in uzsakymas_list %}
    <li>
        <a href="{{ uzsakymas.id }}">Valstybinis NR. : {{ uzsakymas.automobilis_id.valstybinis_nr }} </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Uzsakymu nėra.</p>
{% endif %}
<div class="container puslapiai">
    <nav aria-label="Užsakymų puslapiai">
        {% if page_obj.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}


